.header {
  background-color: black; 
  height: 80px;
  color: #afffc3;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: auto 30px;
}

.headButton {
  margin: auto 30px;
  background-color: #afffc3;
  font-size: 25px;
  padding: 0 15px;
}