.header {
  background-color: black;
  height: 80px;
  color: #afffc3;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  margin: auto 30px;
}

.headButton {
  margin: auto 30px;
  background-color: #afffc3;
  font-size: 25px;
  padding: 0 15px;
}

.body {
  background-color: #ffb0b5;
  flex-grow: 7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  background-color: black;
  flex-grow: 1;
  color: white;
}

.form {
  background-color: #69b37c;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid black;
}

.input {
  display: flex;
  padding: 5px;
}

.input input {
  margin-right: 10px;
  background-color: #ffb0b5;
  border: 1px solid black;
}

.list {
  width: 100%;

}

.list-item {
  margin: 5px;
}

.list-item-header {
  font-weight: bold;
  color: rgb(88, 85, 85);
}